body
{
    margin: 0;
    padding: 0;
    background: navy;
    font-family: Tahoma;
}

#debug
{
    box-sizing: border-box;

    pointer-events: none;
    color: white;

    position: absolute;
    z-index: 10000;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: hidden;

    color: yellow;

    text-align: right;
}
