.beforeGameMenuContainer
{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.gameInterfaceContainer
{
    box-sizing: border-box;

    pointer-events: none;
    color: white;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    opacity: 1;
}

.transition-quick
{
    transition: all 0.3s;
}

.transition-long
{
    transition: all 1s;
}

.moveableInterfaceElement
{
    transition: top    0.3s cubic-bezier(0.175, 0.885, 0.2, 1.13),
                left   0.3s cubic-bezier(0.175, 0.885, 0.2, 1.13),
                bottom 0.3s cubic-bezier(0.175, 0.885, 0.2, 1.13),
                right  0.3s cubic-bezier(0.175, 0.885, 0.2, 1.13);
}

.moveableInterfaceElement[data-visibility='hidden']
{
    transition: top    0.3s cubic-bezier(1.13, 0.2, 0.885, 1.175),
                left   0.3s cubic-bezier(1.13, 0.2, 0.885, 1.175),
                bottom 0.3s cubic-bezier(1.13, 0.2, 0.885, 1.175),
                right  0.3s cubic-bezier(1.13, 0.2, 0.885, 1.175);
}

.hidden
{
    opacity: 0 !important;
}

.gameStatus[data-state='0']
{
    --outline: darkblue;
    --primary: blue;
    --secondary: lightblue;
}

.gameStatus[data-state='1']
{
    --outline: darkred;
    --primary: red;
    --secondary: purple; /* find a light red */
}

.gameStatus[data-state='2']
{
    --outline: darkgreen;
    --primary: green;
    --secondary: lightgreen;
}

.gameStatus
{
    --color-fade-time: 0.3s;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-bottom: 40px;

    position: relative;
    bottom: 0px;
}

.gameInterfaceContainer[data-visibility='hidden'] > .gameStatus
{
    bottom: -200px;
}

#me
{
    width: 128px;
    height: 128px;

    background: url(https://avatars.githubusercontent.com/u/13459291?v=4) center center no-repeat;
    background-size: contain;

    border-radius: 100%;
    border: 10px solid var(--playerColor);

    box-shadow: 0 0 4px 2px #00000046, 0 0 4px 4px #00000046 inset;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position: relative;
    left: 26px;

    transition: background-color var(--color-fade-time), border-color var(--color-fade-time);
}

#playerPortrait
{
    background-color: var(--outline);
    min-height: 96px;
    width: 64px;

    border-radius: 10px;

    position: relative;
    top: 5px;

    transition: background-color var(--color-fade-time), border-color var(--color-fade-time);
}

#roundStatus
{
    background-color: #222222aa;
    padding: 18px 40px;
    padding-bottom: 30px;
    text-align: center;

    transition: background-color var(--color-fade-time), border-color var(--color-fade-time);
}

#flag
{
    display: inline-block;

    width: 26px;
    height: 14px;

    border-radius: 3px;

    background-color: red;
}

#playerName
{
    font-size: 24px;
    padding: 0px 10px;
}

#tags
{
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 100%;
    background-color: lightblue;
    position: relative;
    top: -4px;
    left: -5px;
}

#roundType
{
    display: flex;
    gap: 5px;

    padding-top: 8px;
    padding-bottom: 5px;
}

.roundSpace
{
    width: 85px;

    padding: 2px 0px;

    background-color: black;
    color: black;

    border-radius: 5px;

    flex-grow: 1;

    transition: background-color var(--color-fade-time), color var(--color-fade-time), border-color var(--color-fade-time);
}

.roundSpace.active
{
    background-color: var(--primary);
    color: white;
}

#roundName
{
    text-transform: uppercase;
    letter-spacing: 5px;
}

#nextStateButton
{
    position: absolute;
    left: 37%;
    top: 56%;
    display: inline-block;
    pointer-events: auto;
    color: lightblue;
    background-color: #222222;
    color: white;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 22px;
    margin-bottom: -100px;
    text-decoration: none;
}

#nextStateButton[data-visibility='hidden']
{
    top: 110%;
}

#nextStateButton:hover
{
    background-color: #333333;
}

#nextStateButton:active
{
    background-color: #111111;
    border-style: outset;
}

#counter
{
    width: 128px;
    height: 128px;

    background-color: var(--primary);

    border-radius: 100%;
    border: 10px solid var(--outline);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position: relative;
    left: -26px;

    transition: background-color var(--color-fade-time), border-color var(--color-fade-time);
}

#statue
{
    background-color: var(--outline);
    min-height: 72px;
    width: 48px;

    border-radius: 10px;

    position: relative;
    top: 10px;

    transition: background-color var(--color-fade-time), border-color var(--color-fade-time);
}

#count
{
    background-color: var(--outline);
    border-radius: 10px;
    padding: 5px;
    font-size: 28px;
    text-align: center;

    width: 38px;
    height: 34px;

    position: relative;
    top: 20px;

    transition: background-color var(--color-fade-time), border-color var(--color-fade-time);
}

.attackPlanner
{
    position: absolute;

    height: 100vh;
    width: 100vw;

    background-color: #000000aa;

    opacity: 0;

    transition: opacity 0.3s;

    display: flex;
    flex-wrap: wrap;
}

.gameInterfaceContainer[data-visibility='hidden'] > .attackPlanner
{
    opacity: 1;
}

.gameInterfaceContainer > .attackPlanner > div
{
    flex-grow: 1;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 80%;
}

.gameInterfaceContainer > .attackPlanner > div:first-child,
.gameInterfaceContainer > .attackPlanner > div:last-child
{
    height: 10%;
}

.gameInterfaceContainer > .attackPlanner > .cancelButton
{
    min-width: 100%;
    top: -100%;
    pointer-events: auto;
}

.gameInterfaceContainer > .attackPlanner > .cancelButton > button
{
    display: inline-block;
    color: white;
    background-color: red;
    border: 5px solid darkred;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 26px;
}

.gameInterfaceContainer[data-visibility='hidden'] > .attackPlanner > .cancelButton
{
    top: 10%;
}

.gameInterfaceContainer > .attackPlanner > .attacker
{
    left: -50%;
}

.gameInterfaceContainer > .attackPlanner > .defender
{
    right: -50%;
}

.gameInterfaceContainer[data-visibility='hidden'] > .attackPlanner > .attacker
{
    left: 0px;
}

.gameInterfaceContainer[data-visibility='hidden'] > .attackPlanner > .defender
{
        right: 0px;
}

.gameInterfaceContainer > .attackPlanner > .attackGoButton
{
    min-width: 100%;

    position: relative;
    bottom: -100%;
}

.gameInterfaceContainer[data-visibility='hidden'] > .attackPlanner > .attackGoButton
{
    bottom: 10%;
}

.gameInterfaceContainer > .attackPlanner > .attackGoButton > button
{
    padding: 10px 30px;
    border: 5px solid darkgreen;
    color: lightgreen;
    background-color: green;

    font-size: 32px;
    border-radius: 10px;

    pointer-events: auto;
}

#unitPlaceDialog,
#unitMoveDialog
{
    position: relative;
    z-index: 9999999 !important;

    pointer-events: auto;

    padding: 20px;
    border-radius: 10px;

    background-color: #222222aa;
    color: white;
    text-align: center;
}

#unitPlaceDialog > h1,
#unitMoveDialog > h1
{
    font-size: 14px;
    margin: 0px;
}

#unitPlaceDialog > div,
#unitMoveDialog > div
{
    margin-top: 10px;
    margin-bottom: 5px;
}

#unitPlaceDialog > div > input[type="range"],
#unitMoveDialog > div > input[type="range"]
{
    width: 80%;
}

#dropUnitAmountPreview,
#moveUnitAmountPreview,
{
    font-size: 20px;
    padding-left: 5px;
    position: relative;
    top: -3px;
}

#unitPlaceDialog > button,
#unitMoveDialog > button
{
    width: 100%;
    font-size: 14px;
    padding: 5px;
}

#gameWin,
#gameLose
{
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #000000aa;

    opacity: 0;

    transition: opacity 0.3s;
}

#gameWin[data-visibility="shown"],
#gameLose[data-visibility="shown"]
{
    opacity: 1;
}

#replayGame
{
    font-size: 28px;
    pointer-events: auto;
}
