#lobbyWaitText
{
    margin: 0;
}

#gameSettings
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-setting
{
    
}

#clientList > div
{
    position: relative;
}

#clientList > div::before
{
    content: " ";
    position: absolute;
    top: 2px;
    left: -20px;
    width: 16px;
    height: 16px;
    background-color: var(--playerColor);
}